#niv{background-color: cornflowerblue;
    width:1000px;
    height:150px;
    color:white;}

    h1{text-align: center;margin-top:10px;}
    
    #niv2{background-color: aqua;
    width:970px;
    height:50px;
    margin-left: 16px;}

    #niv3{background-color: rgb(169, 185, 218);
    width:200px;
    height:19px;
    float:left;
    margin-left:19px;
    margin-top: 5px;
    padding:10px;
    text-align: center;}

     #niv4{background-color: rgb(169, 185, 218);
    width:200px;
    height:19px;
    float:left;
    margin-left:19px;
    margin-top: 5px;
    padding:10px;
    text-align: center;}

     #niv5{background-color: rgb(169, 185, 218);
    width:200px;
    height:19px;
    float:left;
    margin-left:19px;
    margin-top: 5px;
    padding:10px;
    text-align: center;}

     #niv6{background-color: rgb(169, 185, 218);
    width:200px;
    height:19px;
    float:left;
    margin-left:19px;
    margin-top: 5px;
    padding:10px;
    text-align: center;}

    #niv7{background-color: rgb(182, 218, 218);
    width: 1000px;
    height:355px;}

    #niv8{background-color:rgb(133, 207, 149);
    width:180px;
    height:355px;
    float: left;
    clear: both;}

    h3{margin-left:10px;}

    #niv9{margin-left:10px;}

    #hr1{margin-left:10px;
      margin-right:10px;}


    #niv10{margin-left:10px;}

    #hr2{margin-left:10px;
      margin-right:10px;}


    #niv11{margin-left:10px;}

    #hr3{margin-left:10px;
      margin-right:10px;}


    #niv12{margin-left:10px;}

     #hr4{margin-left:10px;
      margin-right:10px;}


      #niv13{margin-left:10px;}



    #niv14{float: left;
       margin-left: 15px;}


    #niv15{float: left;
      margin-left:50px;
      background-color: aquamarine;
      width:300px;
      padding:10px;
      margin-top:50px;}


    #niv16{margin-left:10px;}

     #niv17{float: left;
      margin-left:50px;
      background-color: aquamarine;
      width:300px;
      padding:10px;
      margin-top:50px;}


    #niv18{margin-left:10px;}

    #niv19{background-color:rgb(228, 190, 178);
    width:1000px;
    height:180px;
    float: left;
   }


    #niv20{margin-top:15px; 
      margin-left:15px;}


    #niv21{margin-left:15px;}


    #niv22{margin-top:15px;
      margin-left:15px;}

    #niv23{background-color:rgb(77, 77, 218);
      width:1000px;
      height:40px;}

   #niv24{color: white;
    text-align: center;
    margin-top:8px;}
   
   
 
    